# Big Mart Sales Dataset

### Objective: To find out the properties of a product, and store which impacts the sales of a product.

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [41]:
train = pd.read_csv("Big_Mart_Train.csv")
test = pd.read_csv("Big_Mart_test.csv")

In [42]:
#Combine test and train into one file
data = pd.concat([train, test],ignore_index=True)
print(train.shape, test.shape, data.shape)

(8523, 12) (5681, 11) (14204, 12)

In [43]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [44]:
#Numerical data summary:
data.describe()

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,11765.000000,14204.000000,14204.000000,14204.000000,8523.000000
mean,12.792854,0.065953,141.004977,1997.830681,2181.288914
std,4.652502,0.051459,62.086938,8.371664,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.710000,0.027036,94.012000,1987.000000,834.247400
50%,12.600000,0.054021,142.247000,1999.000000,1794.331000
75%,16.750000,0.094037,185.855600,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [46]:
data.isnull().sum()

Item_Identifier                 0
Item_Weight                  2439
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  4016
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales            5681
dtype: int64

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14204 entries, 0 to 14203
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            14204 non-null  object
 1   Item_Weight                11765 non-null  float64
 2   Item_Fat_Content           14204 non-null  object
 3   Item_Visibility            14204 non-null  float64
 4   Item_Type                  14204 non-null  object
 5   Item_MRP                   14204 non-null  float64
 6   Outlet_Identifier          14204 non-null  object
 7   Outlet_Establishment_Year  14204 non-null  int64
 8   Outlet_Size                10188 non-null  object
 9   Outlet_Location_Type       14204 non-null  object
 10  Outlet_Type                14204 non-null  object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 1.3+ MB

In [48]:
#Replacing the missing value with mode (Categorical Data)
data['Outlet_Size'].fillna((data['Outlet_Size'].mode().values[0]), inplace=True)

In [49]:
##Replacing the missing value with median
data['Item_Weight'].fillna(data['Item_Weight'].median(), inplace=True)
data['Item_Outlet_Sales'].fillna(data['Item_Outlet_Sales'].median(), inplace=True)

In [50]:
data.isnull().sum()

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

In [51]:
data.head(5)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [52]:
train.describe(include="all")

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
count,8523,7060.000000,8523,8523.000000,8523,8523.000000,8523,8523.000000,6113,8523,8523,8523.000000
unique,1559,NaN,5,NaN,16,NaN,10,NaN,3,3,4,NaN
top,FDW13,NaN,Low Fat,NaN,Fruits and Vegetables,NaN,OUT027,NaN,Medium,Tier 3,Supermarket Type1,NaN
freq,10,NaN,5089,NaN,1232,NaN,935,NaN,2793,3350,5577,NaN
mean,NaN,12.857645,NaN,0.066132,NaN,140.992782,NaN,1997.831867,NaN,NaN,NaN,2181.288914
std,NaN,4.643456,NaN,0.051598,NaN,62.275067,NaN,8.371760,NaN,NaN,NaN,1706.499616
min,NaN,4.555000,NaN,0.000000,NaN,31.290000,NaN,1985.000000,NaN,NaN,NaN,33.290000
25%,NaN,8.773750,NaN,0.026989,NaN,93.826500,NaN,1987.000000,NaN,NaN,NaN,834.247400
50%,NaN,12.600000,NaN,0.053931,NaN,143.012800,NaN,1999.000000,NaN,NaN,NaN,1794.331000
75%,NaN,16.850000,NaN,0.094585,NaN,185.643700,NaN,2004.000000,NaN,NaN,NaN,3101.296400
max,NaN,21.350000,NaN,0.328391,NaN,266.888400,NaN,2009.000000,NaN,NaN,NaN,13086.964800

In [53]:
#Item type combine:
data['Item_Identifier'].value_counts()
data['Item_Type_Combined'] = data['Item_Identifier'].apply(lambda x: x[0:2])
data['Item_Type_Combined'] = data['Item_Type_Combined'].map({'FD':'Food',
                                                             'NC':'Non-Consumable',
                                                             'DR':'Drinks'})
data['Item_Type_Combined'].value_counts()

Food              10201
Non-Consumable     2686
Drinks             1317
Name: Item_Type_Combined, dtype: int64

In [54]:
data.head(3)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food

In [ ]:
data.Item_Fat_Content.value_counts()

In [60]:
data['Item_Fat_Content'] = data['Item_Fat_Content'].replace({'LF':'Low Fat',
                                                             'reg':'Regular',
                                                             'low fat':'Low Fat'})
print(data['Item_Fat_Content'].value_counts())

Low Fat    9185
Regular    5019
Name: Item_Fat_Content, dtype: int64

In [61]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,Medium,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable

In [75]:
#Drop the columns which have been converted to different types:
data.drop(['Item_Type','Outlet_Establishment_Year','Outlet_Identifier','Item_Identifier'],axis=1,inplace=True)

In [68]:
data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Identifier,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,FDA15,9.30,Low Fat,0.016047,249.8092,OUT049,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,DRC01,5.92,Regular,0.019278,48.2692,OUT018,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,FDN15,17.50,Low Fat,0.016760,141.6180,OUT049,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,FDX07,19.20,Regular,0.000000,182.0950,OUT010,Medium,Tier 3,Grocery Store,732.3800,Food
4,NCD19,8.93,Low Fat,0.000000,53.8614,OUT013,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable

In [69]:
data.drop(['Outlet_Identifier','Item_Identifier'],axis=1,inplace=True)

In [70]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,9.30,Low Fat,0.016047,249.8092,Medium,Tier 1,Supermarket Type1,3735.1380,Food
1,5.92,Regular,0.019278,48.2692,Medium,Tier 3,Supermarket Type2,443.4228,Drinks
2,17.50,Low Fat,0.016760,141.6180,Medium,Tier 1,Supermarket Type1,2097.2700,Food
3,19.20,Regular,0.000000,182.0950,Medium,Tier 3,Grocery Store,732.3800,Food
4,8.93,Low Fat,0.000000,53.8614,High,Tier 3,Supermarket Type1,994.7052,Non-Consumable

In [91]:

data["Outlet_Type"] = data["Outlet_Type"].replace({'Grocery Store':0,'Supermarket Type1':1,'Supermarket Type2':2, 'Supermarket Type3':3})
print(data["Outlet_Type"].value_counts())

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'

In [88]:
data["Item_Fat_Content"] = data["Item_Fat_Content"].map({'Low Fat':0,'Regular':1,})
print(data["Item_Fat_Content"].value_counts())

0    9185
1    5019
Name: Item_Fat_Content, dtype: int64

In [89]:
data.head()

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,9.30,0,0.016047,249.8092,Medium,Tier 1,1,3735.1380,Food
1,5.92,1,0.019278,48.2692,Medium,Tier 3,2,443.4228,Drinks
2,17.50,0,0.016760,141.6180,Medium,Tier 1,1,2097.2700,Food
3,19.20,1,0.000000,182.0950,Medium,Tier 3,0,732.3800,Food
4,8.93,0,0.000000,53.8614,High,Tier 3,1,994.7052,Non-Consumable

In [92]:
data["Outlet_Size"] = data["Outlet_Size"].replace({'Small':0,'Medium':1,'High':2})
print(data["Outlet_Size"].value_counts())
data["Outlet_Location_Type"] = data["Outlet_Location_Type"].replace({'Tier 1':0,'Tier 2':1,'Tier 3':2})
print(data["Outlet_Location_Type"].value_counts())

1    8671
0    3980
2    1553
Name: Outlet_Size, dtype: int64
2    5583
1    4641
0    3980
Name: Outlet_Location_Type, dtype: int64

In [94]:
data["Item_Type_Combined"] = data["Item_Type_Combined"].replace({'Food':0,'Drinks':1,'Non-Consumable':2})
print(data["Item_Type_Combined"].value_counts())

0    10201
2     2686
1     1317
Name: Item_Type_Combined, dtype: int64

In [96]:
data.head(6)

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_MRP,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales,Item_Type_Combined
0,9.30,0,0.016047,249.8092,1,0,1,3735.1380,0
1,5.92,1,0.019278,48.2692,1,2,2,443.4228,1
2,17.50,0,0.016760,141.6180,1,0,1,2097.2700,0
3,19.20,1,0.000000,182.0950,1,2,0,732.3800,0
4,8.93,0,0.000000,53.8614,2,2,1,994.7052,2

In [111]:
X_new=data.loc[:,('Item_Weight','Item_Fat_Content','Item_Visibility','Item_MRP','Outlet_Size','Outlet_Location_Type','Outlet_Type','Item_Type_Combined')]
X_new.head()
Y=data.iloc[:,-2]
Y.head()

0    3735.1380
1     443.4228
2    2097.2700
3     732.3800
4     994.7052
Name: Item_Outlet_Sales, dtype: float64

In [112]:
from sklearn.model_selection import train_test_split
X_train, X_val, y_train, y_val = train_test_split(X_new, Y, test_size = 0.25, random_state = 0)

In [113]:
# Fitting Multiple Linear Regression to the training set
from sklearn.linear_model import  LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [116]:
# Predicting the test set results
y_pred = regressor.predict(X_val)
y_pred

array([2674.27399666, 1635.29124982, 1989.24254364, ..., 2445.06485853,
       1459.31905193, 2126.95115825])

In [120]:
import warnings
warnings.filterwarnings('ignore')

In [121]:
from pandas import DataFrame
import statsmodels.api as sm

In [122]:
model = sm.OLS(y_train, X_train).fit()
predictions = model.predict(X_train) 

print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared (uncentered):                   0.788
Model:                            OLS   Adj. R-squared (uncentered):              0.788
Method:                 Least Squares   F-statistic:                              4946.
Date:                Thu, 17 Sep 2020   Prob (F-statistic):                        0.00
Time:                        15:15:13   Log-Likelihood:                         -89831.
No. Observations:               10653   AIC:                                  1.797e+05
Df Residuals:                   10645   BIC:                                  1.797e+05
Df Model:                           8
Covariance Type:            nonrobust
========================================================================================
                           coef    std err          t      P>|t|      [0.025      0.975]
----------------------------------------------------------------------------------------
Item_Weight              4.2120      1.998      2.108      0.035       0.295       8.129
Item_Fat_Content        59.3653     24.141      2.459      0.014      12.044     106.687
Item_Visibility       -633.5890    202.520     -3.129      0.002   -1030.567    -236.612
Item_MRP                 9.6212      0.155     62.137      0.000       9.318       9.925
Outlet_Size            201.4313     22.603      8.912      0.000     157.125     245.738
Outlet_Location_Type  -242.2586     18.921    -12.804      0.000    -279.347    -205.170
Outlet_Type            607.3234     15.045     40.366      0.000     577.832     636.815
Item_Type_Combined     -10.2301     14.618     -0.700      0.484     -38.884      18.424
==============================================================================
Omnibus:                     2960.876   Durbin-Watson:                   1.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            10593.073
Skew:                           1.370   Prob(JB):                         0.00
Kurtosis:                       7.045   Cond. No.                     2.90e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.9e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [125]:
# Import library for VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X_train):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X_train.columns
    vif["VIF"] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]

    return(vif)
calc_vif(X_train)

              variables       VIF
0           Item_Weight  6.215278
1      Item_Fat_Content  1.758516
2       Item_Visibility  2.450597
3              Item_MRP  4.872987
4           Outlet_Size  4.620973
5  Outlet_Location_Type  5.878795
6           Outlet_Type  4.071537
7    Item_Type_Combined  1.572782

In [128]:
X_train = X_train.drop(['Item_Weight','Outlet_Location_Type'], axis=1)

KeyError: "['Item_Weight'] not found in axis"

In [129]:
X_train = X_train.drop(['Outlet_Location_Type'], axis=1)

In [130]:
model = sm.OLS(y_train, X_train).fit()
predictions = model.predict(X_train) 

print_model = model.summary()
print(print_model)

                                 OLS Regression Results
=======================================================================================
Dep. Variable:      Item_Outlet_Sales   R-squared (uncentered):                   0.785
Model:                            OLS   Adj. R-squared (uncentered):              0.785
Method:                 Least Squares   F-statistic:                              6465.
Date:                Thu, 17 Sep 2020   Prob (F-statistic):                        0.00
Time:                        16:00:38   Log-Likelihood:                         -89915.
No. Observations:               10653   AIC:                                  1.798e+05
Df Residuals:                   10647   BIC:                                  1.799e+05
Df Model:                           6
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
Item_Fat_Content      69.7155     23.973      2.908      0.004      22.724     116.707
Item_Visibility     -785.4260    194.703     -4.034      0.000   -1167.080    -403.772
Item_MRP               9.7933      0.139     70.511      0.000       9.521      10.066
Outlet_Size           31.4338     17.561      1.790      0.073      -2.989      65.857
Outlet_Type          523.7459     12.872     40.689      0.000     498.514     548.977
Item_Type_Combined    -4.0084     14.391     -0.279      0.781     -32.218      24.201
==============================================================================
Omnibus:                     2778.616   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9474.389
Skew:                           1.300   Prob(JB):                         0.00
Kurtosis:                       6.819   Cond. No.                     2.76e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.76e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [131]:
# Import library for VIF
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X_train):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X_train.columns
    vif["VIF"] = [variance_inflation_factor(X_train.values, i) for i in range(X_train.shape[1])]

    return(vif)
calc_vif(X_train)

            variables       VIF
0    Item_Fat_Content  1.707158
1     Item_Visibility  2.229953
2            Item_MRP  3.860110
3         Outlet_Size  2.746029
4         Outlet_Type  2.933990
5  Item_Type_Combined  1.500710